<form >
    <div>
        <label>Nombre: </label>
        <input type="text" name="nombre" />
    </div>
    <div>
        <label>Foto: </label>
        <input type="text" name="fotoPerfil" />
    </div>
    <div>
        <label>Ciudad: </label>
        <input type="text" name="ciudadResidencia" />
    </div>
    <div>
        <label>Username: </label>
        <input type="text" name="nickname" />
    </div>
    <div>
        <label>Correo electrónico: </label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Contraseña: </label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Registrarse</button>
</form>