/* Estilos para el contenedor principal del formulario de registro */
.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3715bd;
  background: linear-gradient(45deg, #ee52c2, #e73c7e, #3d58cd, #3715bd);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

/* Estilos para el contenedor del formulario dentro del contenedor principal */
.signUpFormContainer {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilos para el contenedor interno del formulario */
.formContainer {
  width: 100%;
}

/* Estilos para los fragmentos del formulario */
.formFragment {
  margin-bottom: 20px;
}

/* Estilos para los fragmentos del formulario (label) */
.formFragment label {
  display: block;
  margin-bottom: 5px;
  color: #3d58cd;
  font-weight: bold;
}

/* Estilos para los campos de entrada del formulario */
.formFragment input,
.formFragment select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilos para el botón "Guardar foto" */
.customButton {
  width: 150px;
  padding: 10px;
  background-color: #3715bd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.customButton:hover {
  background-color: #3d58cd;
}

/* Estilos para el botón "Registrarse" */
.signUpButton {
  width: 100%;
  padding: 10px;
  background-color: #3715bd;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signUpButton:hover {
  background-color: #3d58cd;
}

/* Estilos para el enlace "Cancelar" */
.signUpLink {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3715bd;
  margin-top: 10px;
  transition: color 0.3s;
}

.signUpLink:hover {
  color: #3d58cd;
}

